{% extends 'ui/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block inner %}
  <center>
    <br/><br/>
    <img class="rounded-circle user-avatar" src="{{ object.avatar_url }}" alt="User Avatar">
    <br/><br/><br/>
    <h2>{{ object.first_name }}
    </h2>

    <h4>@{{ object.username }}</h4>
    <h6>{{ object.email }}</h6>

    {% if is_me %}
      <a data-toggle="collapse" href="#password_form" aria-expanded="false" aria-controls="password_form">
        Change password
      </a>
      <br/><br/>
      <div id="password_form" class="collapse {% if password_form.errors %}show{% endif %}">
        <form class="password-form" method="post">
          {% csrf_token %}
          {% bootstrap_form password_form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              Change
            </button>
          {% endbuttons %}
        </form>
        <br/>
      </div>
      <p>Last login: {{ object.last_login }}</p>
    {% endif %}

  </center>
{% endblock %}