{% extends 'ui/base.html' %}
{% load static %}


{% block inner %}
  <center>
    <br/><br/>
    <img class="rounded-circle user-avatar" src="{{ object.avatar_url }}" alt="User Avatar">
    <br/><br/><br/>
    <h2>{{ object.first_name }}
    </h2>

    <h4>@{{ object.username }}</h4>
    <h6>{{ object.email }}</h6>
    <br/><br/>

    {% if is_me %}
      <p>Last login: {{ object.last_login }}</p>
      <a href="{% url 'password_change' %}">Change password</a>
    {% endif %}

  </center>
{% endblock %}