[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
django-stubs = "*"
ipdb = "*"
django-extensions = "*"

[packages]
django = "*"
psycopg2 = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
pytest-xdist = "*"
psycopg2cffi = "*"
psutil = "*"
python-dotenv = "*"
django-pdb = "*"
bleach = "*"
django-filter = "*"
django-cors-headers = "*"
pillow = "*"
django-bootstrap4 = "*"
ipython = "*"
django-select2 = "*"
djangorestframework = "*"
flake8 = "*"
django-anymail = "*"
ipdb = "*"
django-mapbox-location-field = "*"
stripe = "*"
weasyprint = "*"
plaid-python = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
