{% extends 'ui/base.html' %}
{% load static %}
{% load bootstrap4 utils %}

{% block head %}
  {{ block.super }}
  {% if not rental_app.completed or rental_app.editing %}
    <link rel="stylesheet" href="{% http2static 'css/dropzone.css' %}"
          type="text/css" crossorigin>
  {% endif %}
  <link rel="stylesheet" href="{% http2static 'css/stripe.css' '4' %}"
        crossorigin>
  <script>
      const key = "{{key}}"
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet"
        href="{% http2static 'css/jquery.datetimepicker.min.css' %}"
        type="text/css" crossorigin>

{% endblock head %}
{% block title %}Lease Detail{% endblock title %}
{% block inner_title %}
  Lease Detail
{% endblock inner_title %}

{% block inner_content %}
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      {% if not leasemember.signed_agreement %}
        {% include "leases/rental_app/agreement_form.html" %}
      {% elif not rental_app.completed or rental_app.editing %}
        <h5>Rental Application</h5>
        <form action="{% url "leases:update-application" pk=rental_app.id %}"
              method="post">
          {% csrf_token %}
          <div class="accordion" id="accordion-rental-app">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button"
                          data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Personal Information
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show"
                   aria-labelledby="headingOne"
                   data-parent="#accordion-rental-app">
                <div class="card-body">
                  {% bootstrap_field rental_application_form.name %}
                  {% bootstrap_field rental_application_form.phone %}
                  {% bootstrap_field rental_application_form.date_of_birth %}
                  {% bootstrap_field rental_application_form.ssn %}
                  {% bootstrap_field rental_application_form.driver_license %}
                  {% bootstrap_field rental_application_form.n_of_pets %}
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button"
                          data-toggle="collapse" data-target="#cheadingTwo"
                          aria-expanded="false" aria-controls="cheadingTwo">
                    Rental History
                  </button>
                </h5>
              </div>
              <div id="cheadingTwo" class="collapse"
                   aria-labelledby="headingTwo"
                   data-parent="#accordion-rental-app">
                <div class="card-body">
                  {% bootstrap_field rental_application_form.current_address %}
                  {% bootstrap_field rental_application_form.current_monthly_rent %}
                  {% bootstrap_field rental_application_form.landlord_name %}
                  {% bootstrap_field rental_application_form.landlord_contact %}
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button"
                          data-toggle="collapse" data-target="#collapseThree"
                          aria-expanded="false" aria-controls="collapseThree">
                    Work Details
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse"
                   aria-labelledby="headingThree"
                   data-parent="#accordion-rental-app">
                <div class="card-body">
                  {% bootstrap_field rental_application_form.current_company %}
                  {% bootstrap_field rental_application_form.job_title %}
                  {% bootstrap_field rental_application_form.annual_income %}
                  {% bootstrap_field rental_application_form.time_at_current_job %}
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button"
                          data-toggle="collapse" data-target="#collapseFour"
                          aria-expanded="false" aria-controls="collapseThree">
                    Documents
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse"
                   aria-labelledby="headingFour"
                   data-parent="#accordion-rental-app">
                <div class="card-body">
                  {% include 'leases/rental_app/documents_modal.html' %}
                  Documents -
                  <a href="#" data-toggle="modal"
                     data-target="#documents-modal">
                    Information about the documents
                  </a>
                  <hr/>
                  {% if rental_docs %}
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Filename</th>
                        <th>Url</th>
                        <th>Created</th>
                        <th>Options</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for doc in rental_docs %}
                        <tr>
                          <td>{{ doc.filename }}</td>
                          <td><a href="{{ doc.file.url }}"
                                 target="_blank">Link</a></td>
                          <td>{{ doc.created }}</td>
                          <td>
                            <a href="{% url 'leases:delete-rental-doc' pk=doc.id %}">Delete</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  {% endif %}
                  <div id="rental-app-docs" class="dropzone">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <button type="submit" class="btn btn-outline-primary">Save</button>
          <button type="submit"
                  formaction="{% url "leases:update-application" pk=rental_app.id %}?completed=true"
                  class="btn btn-primary">Submit and Complete Rental Application
          </button>
        </form>
      {% else %}
        <div class="row">
          <div class="col-12">
             <h5 class="text-center">Lease Status</h5>
            <div class="progress lease-status">
              <div class="progress-bar progress-bar-striped"
                   role="progressbar"
                   style="width: {{ lease.progress_status }}%"
                   aria-valuenow="{{ lease.progress_status }}"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
            <h6 class="text-center">{{ lease.get_status_display }}</h6>
          </div>
          <div class="col-12">
            <form action="{% url "leases:editing" pk=rental_app.id %}" method="post" class="text-center">
              {% csrf_token %}
              <input type="hidden" name="editing" value="true"/>
              <button type="submit" class="btn btn-primary">Edit Rental Application</button>
            </form>
          <br/>
          </div>
          <div class="col-12">
            <table class="table">
              <thead>
              <tr>
                <th>Status</th>
                <th>Progress</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Awaiting Deposit</td>
                <td>25%</td>
              </tr>
              <tr>
                <td>Unsigned, Unapproved</td>
                <td>50%</td>
              </tr>
              <tr>
                <td>Unsigned, Approved</td>
                <td>75%</td>
              </tr>
              <tr>
                <td>Signed, Approved</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Awaiting OP</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Cancelled, Client Backed Out, Pending Deletion</td>
                <td>Cancelled</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock inner_content %}

{% block after_card %}

  <div class="row">
    <div class="col-12 col-sm-6 ">
      <div class="card card-small mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col-9">
                Lease Members
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-outline-info"
                        data-toggle="modal"
                        data-target="#inviteLeaseMemberModal">
                  Invite
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">

                {% include 'leases/invite_modal.html' %}
                {% for lease_member in lease_members %}
                  {% include 'leases/lease_member.html' %}
                {% empty %}
                  <hr/>
                  <p class="text-center">Invite a renter or guarantor to get
                    started</p>
                {% endfor %}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 ">
      <div class="card card-small mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col-9 pb-2">
                Move in costs
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="payment-content container">
                  <table class="table">
                    <tbody id="move-body-table">
                    {% for move in move_in_costs %}
                      {% include 'leases/move_in_cost.html' with id=move.id value=move.value charge=move.charge %}
                    {% endfor %}
                    <tr>
                      <td><b class="font-weight-bold">Total Cost Due</b></td>
                      <td>$<b class="font-weight-bold"
                              id="total-cost-due">{{ total }}</b></td>
                    </tr>
                    <tr>
                      <td><b class="font-weight-bold">Pending Payment</b></td>
                      <td>
                        $<b class="font-weight-bold" id="lease-pending-payment">
                        {{ lease_pending_payment|default_if_none:"" }}
                      </b>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <hr/>
                  <div class="row">

                    <div class="col-12">
                      {% if lease_pending_payment %}
                        {% include 'payments/payments.html' %}
                        {% include 'payments/payment_method_modal.html' %}
                        {% include 'payments/plaid_modal.html' %}
                        <button type="button" class="btn btn-outline-info"
                                data-toggle="modal"
                                data-target="#paymentMethodModal">
                          Pay
                        </button>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {% if lease_transactions %}
      {% include "leases/transactions_table.html"  with transactions=lease_transactions %}
    {% endif %}
  </div>
{% endblock after_card %}

{% block tail %}
  {{ block.super }}

  {% if not rental_app.completed or rental_app.editing %}
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"
          type="text/javascript" crossorigin></script>
    <script src="{% http2static 'js/dropzone.js' %}"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        $(document).ready(() => {
            let uploadDrop = new Dropzone("div#rental-app-docs", {
                url: '{% url 'leases:create-rental-doc' pk=rental_app.id %}',
                paramName: 'file',
                maxFilesize: 5,
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                acceptedFiles: "image/*,application/pdf",
            });
        })
      $(document).ready(() => {
          $("#id_date_of_birth").datetimepicker({
              timepicker: false, format: 'Y-m-d',
          });
      })
    </script>
  {% endif %}

  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
    $('#paymentModal, #plaidModal').on('show.bs.modal', function (e) {
        $('#paymentMethodModal').modal('hide')
        setInputFilter(document.getElementById("amount_plaid"), function(value) {
          return inputFilter(value)
        });
        
      });

    $('#paymentModal').on('shown.bs.modal', function (e) {
      $.getScript("{% static 'js/stripe.js' '1' %}", function () {
      });
    });

    $('#plaidModal, #paymentModal').on('hidden.bs.modal', function (e) {
      $('.alert, .loader').remove()
    });
    // Input amount validation
    function setInputFilter(textbox, inputFilter) {
      ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
        textbox.addEventListener(event, function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      });
    }
    
    inputFilter = (value) => {
      return /^\d*[.]?\d{0,2}$/.test(value); 
    }

    setInputFilter(document.getElementById("amount"), function(value) {
      return inputFilter(value)
    });

    getStripeFee = () => {
      document.getElementById("total").innerHTML = ''
      let amount = parseFloat(document.getElementById("amount").value)
      if (amount > 0) {
          $.ajax({
              url: "{% url 'payments' pk=lease.id %}",
              data: {
                  'amount': amount
              },
              dataType: 'json',
              success: function (data) {
                  document.getElementById("amount-plus-fee").value = data.total_paid
                  document.getElementById("total").innerHTML = '<span data-toggle="tooltip" id="total_amount" data-placement="top" title="' + data.total_paid + '">' + data.total_paid + '</span>'
              }
          });
      }
    }
    var linkHandler = Plaid.create({
      selectAccount: true,
      env: 'sandbox',
      clientName: 'Homenet',
      key: "{{plaid_key}}",
      product: ['auth'],
      onLoad: function() {
        // The Link module finished loading. 
      },
      onSuccess: function(public_token, metadata) {      
        // The onSuccess function is called when the user has successfully
        // authenticated and selected an account to use.
        //
        // When called, you will send the public_token and the selected
        // account ID, metadata.account_id, to your backend app server.
        $('#plaidModal .modal-body').append('<div class="loader"></div>')
        let amount = $('#plaidModal #amount_plaid').val()
        $.ajax({
            url: "{% url 'plaid' pk=lease.id %}",
            type: 'POST',
            data: {
                'public_token': public_token,
                'account_id': metadata.account_id,
                'amount': amount
            },
            dataType: 'json',
            success: function (data) {
              if (data.complete) {
                window.location.replace("{% url 'leases:detail-client' pk=object.id %}")
                }
            },
            error: function(xhr, status, error){
              $('.loader').remove()
              let errorMessage = 'Something went wrong... Please try again'
              $('#plaidModal .modal-body').before('<div class="alert alert-danger alert-dismissible fade show" role="alert">'
                + errorMessage + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
                '<span aria-hidden="true">&times;</span></button><div>')
              $('.alert').alert()
            }
        });
      },
      onExit: function(err, metadata) {
        // The user exited the Link flow.
        if (err != null) {
          // The user encountered a Plaid API error prior to exiting.
        }
        // metadata contains information about the institution
        // that the user selected and the most recent API request IDs.
        // Storing this information can be helpful for support.
      },
    });

  // Trigger the standard Institution Select view
  document.getElementById('linkButton').onclick = function() {
    linkHandler.open();
  };
  </script>
{% endblock tail %}
