{% load bootstrap4 %}
<div class="modal fade" id="inviteLeaseMemberModal"
     tabindex="-1" role="dialog" aria-labelledby="inviteLeaseMemberLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inviteLeaseMemberLabel">Invite</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="{% url 'leases:create-member' lease.id %}" method="post">
          <div class="modal-body">
              {% csrf_token %}
              {% bootstrap_form invite_member_form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Invite</button>
          </div>
        </form>
    </div>
  </div>
</div>