<div class="lease-member-content">
  <table class="table">
    <tbody>
    <tr>
      <td style="width: 90px;">
        <img class="rounded-circle img-fluid mx-auto" width="75" height="75"
               src="{{ lease_member.avatar }}"
               alt="Missing"></td>
      <td>
        <div class="mb-2"><strong>{{ lease_member.get_full_name }}</strong> · Tenant</div>
        {% if lease_member.legal_name %}
          <div>Legal Name: {{ lease_member.legal_name }}</div>
        {% endif %}
        <div>{{ lease_member.email }}</div>
        <div>Total Paid: {{ total_paid }}</div>
        {% if lease_member.user %}
          {% if lease_member.signed_agreement %}
          <div>Signed Agreement · {{ lease_member.signed_agreement }}</div>
          {% endif %}
          <div>Rental Application: Completed <a
                  href="#">(Review)</a>
          </div>
          <div id="creditReportStatus90234" class="credit-report-status">
            <div>Credit Report Status: TODO&nbsp;<a href="#">(Create PDF)</a>&nbsp;
            </div>
          </div>
        {% endif %}
      </td>
    {% if not lease_member.user %}
      <td class="dropdown">
        <button class="btn btn-rounded btn-outline-info float-right mr-0 dropdown-toggle"
                type="button" id="dropdownButtonClient" data-toggle="dropdown">
          Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownButtonClient">
          <a class="dropdown-item" href="{% url 'leases:send-invitation' pk=lease_member.id %}">
            Resend
          </a>
          <button class="dropdown-item">
            Cancel
          </button>
        </div>
      </td>
    {% elif request.user.perms.has_agent_access %}
      <td class="dropdown">
        {% include 'leases/rental_app/agreement_modal.html' %}
        <button class="btn btn-outline-info float-right mr-0 dropdown-toggle"
                type="button" id="dropdownButtonClient" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownButtonClient"
             x-placement="bottom-start"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(2px, 65px, 0px);">
          <button data-toggle="modal" data-target="#leadModal-90234"
                  class="dropdown-item">Transfer
          </button>
          <button
                  class="dropdown-item">Update
          </button>
          <div class="record-deposit" id="recordDeposit90234"
               data="{&quot;id&quot;:90234,&quot;lease_id&quot;:&quot;F2CY5PkPsvZTMSEum792fUvP&quot;,&quot;client_id&quot;:90234,&quot;client_name&quot;:&quot;Diamond Young&quot;}">
            <div>
              <div><a class="dropdown-item">Record Deposit</a></div>
            </div>
          </div>
          <button class="dropdown-item"
                  data-toggle="modal"
                  data-target="#agreement-modal-{{ lease_member.short_id }}" >
            Deposit Agreement
          </button>
        </div>
      </td>
    {% endif %}
    </tr>


    </tbody>
  </table>
</div>