{% extends 'ui/base.html' %}
{% load static %}

{% block inner %}
  <div class="row main-content-row">
    <div class="col-md-6 main-scroll">
      <div class="row">
        {% for obj in object_list %}
          <div class="col-lg-6 col-md-12 p-1">

            <a href="{% url 'listings:listing' pk=obj.pk %}">
              <div class="card card-smallcard-post card-post--1 card-listing">
                <div class="card-post__image text-center">
                  <img class="box-wd" src="{{ obj.default_image }}">
                  <span class="card-post__category badge badge-pill badge-dark">${{ obj.price }}</span>
                </div>
                <div class="card-body p-0 text-center">
                  <table class="table mb-0 listing-info">
                    <tbody>
                    <tr>
                      <td class="wrap-info" data-toggle="tooltip"
                          title="{{ obj.bedrooms }} Beds / {{ obj.bathrooms }} Bath">
                        {{ obj.bedrooms }} Beds / {{ obj.bathrooms }} Bath
                      </td>
                      <td class="wrap-info" colspan="2" data-toggle="tooltip"
                          title="{{ obj.address }}">
                        {{ obj.address|truncatechars:20 }}
                      </td>
                    </tr>
                    <tr>
                      <td>Pets: {{ obj.get_pets_display }}</td>
                      <td>
                        <i class="material-icons">place</i>
                        Map
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </a>
          </div>
        {% empty %}
          <div class=" col-md-6 p-0">
            <div class="alert alert-info">
              No results were found
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6 p-0 map-panel">
      <iframe src='https://maps.google.com/maps?q={{ object_list.0.address|urlencode }}&t=&z=13&ie=UTF8&iwloc=&output=embed'
              frameborder="0" width="100%" height="100%" scrolling="no"
              marginheight="0" marginwidth="0"
              style='display: inline-block'></iframe>
    </div>
  </div>
{% endblock %}
