{% extends 'ui/base.html' %}
{% load static %}

{% block inner %}
  <div class="row main-content-row">
    <div class="col-md-6">
      <div class="row">
        {% for obj in object_list %}
          <div class=" col-md-6 ">
            <a href="#">
              <div class="card card-smallcard-post card-post--1">
                <div class="card-post__image text-center">
                  <img class="box-wd" src="{{ obj.default_image }}">
                  <a href="#"
                     class="card-post__category badge badge-pill badge-dark">${{ obj.price }}</a>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                  <table class="table mb-0">
                    <tbody>
                    <tr>
                      <td>{{ obj.bedrooms }} Beds / {{ obj.baths }} Bath
                      </td>
                      <td>{{ obj.address|truncatechars:20 }}</td>
                    </tr>
                    <tr>
                      <td><i class="material-icons">pets</i>
                        Pets: {{ obj.pets_allowed|yesno:"Yes,No,Maybe" }}
                      </td>
                      <td><i class="material-icons">share</i>
                        Share
                      </td>
                      {# TODO: add some behaviour #}
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </a>
          </div>
        {% empty %}
          <div class=" col-md-6 ">
            <div class="alert alert-info">
            No results were found
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6">
      <iframe src='https://maps.google.com/maps?q={{ object_list.0.address|urlencode }}&t=&z=13&ie=UTF8&iwloc=&output=embed'
              frameborder="0" width="100%" height="100%" scrolling="no"
              marginheight="0" marginwidth="0"
              style='display: inline-block'></iframe>
    </div>
  </div>
{% endblock %}