<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Navbar Right: Mobile-Only Sandwich Button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>

                <!-- Sandwich Menu Bars -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Navbar Left: Logo -->
            <a class="navbar-brand" href="/">
                <span id="logo-text"><span>Pennybags Real-Estate</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav main-nav">
                <li><a href="https://labs.oddslingers.com/whitepaper.html">Add a Listing +</a></li>
            </ul>

            <!-- Navbar Right: Account Menu -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/accounts/logout">Sign Out: {{user.username}}</a></li>
                {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="/signup">Signup</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
