{% load static %}

<div class="main-navbar sticky-top bg-white">
<!-- Main Navbar -->
  <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap p-0">

    <a class="navbar-brand border-right p-2" href="{% url 'home' %}" >
      <div class="d-table m-auto">
        <span class="ml-1">HomeNet <span class="d-none d-md-inline">Real-Estate</span></span>
      </div>
    </a>

    <ul class="navbar-nav flex-row ml-auto">
    {% if request.user.is_authenticated %}
      <li class="nav-item border-right pr-2">
        <a href="{% url 'userprofile' username=user.username %}">
          <div class="p-1" style="width: 2.75rem">
            <div class="circle-avatar" style="background-image:url({{ request.user.avatar_url  }})"></div>
          </div>
        </a>
      </li>

      <li class="nav-item px-2 dropdown">
        <a class="nav-link p-0" data-toggle="dropdown" style="min-width: 0"
           href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" style="font-size: 36px">menu</i>
        </a>

        <div class="dropdown-menu dropdown-menu-small dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'listing:create' %}">
            <i class="material-icons">add</i>
            <span>Add Listing</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'listing:listings' %}">
            <i class="material-icons">dvr</i>
            <span>Listings</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'schedule' %}">
            <i class="material-icons">schedule</i>
            <span>Schedule</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="{% url 'logout' %}">
            <i class="material-icons text-danger">exit_to_app</i>
            <span>Logout</span>
          </a>
        </div>

      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link text-nowrap px-3" href="{% url 'login' %}" role="button" >
          Login
        </a>
      </li>
     {% endif %}
    </ul>

  </nav>
</div>