{% extends 'ui/base.html' %}
{% load bootstrap4 utils static %}

{% bootstrap_messages %}

{% block head %}
<link rel="stylesheet" href="{% http2static 'css/jquery.datetimepicker.min.css' %}" type="text/css" crossorigin>
{{ form.fields.listing_type.widget.media.css }}
{% endblock head %}

{% block inner_content %}
  {% include 'listings/_wizard_tabs.html' %}
  <form method="post" action="{% url 'signup' %}" class="full-w">
    {{ form.fields.geopoint.widget.media }}
    {% csrf_token %}
    <div class="row">
      {% for field in form %}
        <div class="col-12 {% if field.name != 'geopoint' %}col-lg-6{% endif %}">
          {% bootstrap_field field %}
        </div>
      {% endfor %}
    </div>
    {% buttons %}
      <button type="button" class="btn btn-primary">
        Back
      </button>
      <button type="submit" class="btn btn-primary">
        Continue
      </button>
    {% endbuttons %}
  </form>
{% endblock inner_content %}


{% block tail %}
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}" type="text/javascript" crossorigin></script>

  <script>
    $(document).ready(() => {

      $("#id_date_available").datetimepicker({
        timepicker:false, format: 'd/m/Y',
      });
    })
  </script>

  {{ form.fields.listing_type.widget.media.js }}
{% endblock tail %}