{% extends 'listings/wizard/_wizard.html' %}
{% load utils static %}


{% block tabs %}
  <a href="{% url 'listings:edit' pk=listing.id %}" class="wizard-tab">Essentials</a>
  <a href="{% url 'listings:detail' pk=listing.id %}" class="wizard-tab">Detail</a>
  <a href="{% url 'listings:photos' pk=listing.id %}" class="wizard-tab">Photos</a>
  <a href="{% url 'listings:review' pk=listing.id %}" class="wizard-tab active">Review</a>
  <hr>
{% endblock tabs %}

{% block wizard_content %}
  {% include 'listings/listing_component.html' %}
{% endblock wizard_content %}