{% extends "ui/base.html" %}
{% load bootstrap4 %}

{% bootstrap_messages %}

{% block inner_title %}Login{% endblock inner_title %}

{% block inner_content %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
  <a href="/accounts/password_reset/">Reset password</a>
  <input type="hidden" name="next"
         value="{{ next|default:'/' }}">
</form>
  <hr>
  <span class="text-center">Don't have a client account yet? <a href="{% url 'signup' %}">Sign up</a> </span>
{% endblock %}
