<p style="text-align: justify;">Push Forward Realty Cooperative Corp. is a duly licensed real estate brokerage in the state of New York. 
  Your privacy and trust are important to us. We make every effort to ensure your documents are kept with the utmost care and will be used 
  strictly for purposes of approving you for the apartment. Your signature represents a firm commitment to rent this property pending approval 
  from the landlord. Changing your mind after this point is not grounds for a refund of your deposit. By signing below, you agree to make every 
  reasonable effort to submit the necessary paperwork for approval as soon as possible. Failure to submit the requested paperwork within two (2) 
  days will be considered a default on your part and does not constitute grounds for a refund. All application fees and transaction fees are NON-REFUNDABLE 
  regardless of approval. If you have submitted all requested paperwork and are not approved for the apartment, Push Forward Realty Cooperative Corp. will 
  REFUND your initial deposit (subtracting all application fees) by check or directly to your credit card. This property is represented in "AS IS" condition. 
  Push Forward Realty Cooperative Corp.  is not responsible for any property repair or maintenance. Any claim you may have arising from Push Forward Realty 
  Cooperative Corp. services or this agreement shall be limited to the amount of the brokerage commission. Balance of all move in costs are due at lease signing. 
  Your signature also represents your authorization for Push Forward Realty Cooperative Corp. to debit your account as identified by your method of payment and 
  payment information according to the terms and amount stated and related to this agreement. The authorization shall remain in effect until the balance is paid 
  in full. You represent and warrant that you are authorized to execute said payment authorization for purposes of completing payment according to these terms. 
  You represent that you have read, understand, and agree to the terms set forth in this agreement.</p>
