<!-- Modal -->
<div class="modal fade" id="documents-modal" tabindex="-1" role="dialog"
     aria-labelledby="documents-modalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="documents-modalLabel">Documents
          Information</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>PROOF OF INCOME CHECKLIST</h5>
        <p class="text-justify">
          In addition to your rental application, we will need a selection of
          the following
          documents. Please note: providing ample documentation improves your
          chance of
          getting this apartment.
        </p>
        <h6>WORKING PROFESSIONAL</h6>
        <ul>
          <li>Three recent paychecks</li>
          <li>Last year’s tax return (W2 form)</li>
          <li>Letter of employment stating salary</li>
          <li>Recent bank statements</li>
          <li>US guarantor</li>
          <li>Letter from landlord and/or copies of recent rent checks</li>
        </ul>
        <br/>

        <h6>FREELANCER OR “OFF THE BOOKS” EMPLOYEE</h6>
        <ul>
          <li>Bank statements showing recent deposits</li>
          <li>Letter of employment stating payments</li>
          <li>Freelance paychecks</li>
          <li>Last year’s tax return (1099 form)</li>
          <li>US guarantor</li>
          <li>Letter from landlord and/or copies of recent rent checks</li>
        </ul>
        <br/>

        <h6>STUDENT</h6>
        <ul>
          <li>Student loan documentation showing housing allowance</li>
          <li>Recent bank statements</li>
          <li>Recent paychecks</li>
          <li>Last year’s tax return (W2, 1099, 1040, etc.)</li>
          <li>US guarantor</li>
          <li>Letter from landlord and/or copies of recent rent checks</li>
        </ul>
        <br/>

        <h6>GUARANTOR</h6>
        <ul>
          <li>Proof of income (paychecks, letter of employment, etc.)</li>
          <li>Last year’s tax returns (W2, 1099, 1040, etc.)</li>
          <li>Recent bank statements</li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>