
<table style="width: 100%;font-size: 13.5px;padding-left: 0px;">
  <tbody>
    <tr>
      <td class="field-name">
        <p style="color:green;font-size: 20px;margin-bottom:-10px">
          <span style="border:none;"><b>Push Forward Realty</b></span><br/>
          <span style="margin-left:15%;border:none;"><b>Cooperative</b></span><br/>
        </p>
        <p>
          <span style="color:black;margin-left:8%;font-size: 19px;border:none;">Rental Application</span>
        </p>
      </td>
      <td class="field-name">
        7 Marcus Garvey Blvd Ste. 403 <br/>
        Brooklyn NY 11206
      </td>
      <td class="field-name"><br/><center>Tel: (424) 395- 9900</center></td>
    </tr>
  </tbody>
</table>
<span>
<table class="green-border no-border" style="width: 100%;border-top: 0px;">
   <tbody>
    <caption class="green-border no-border" style="padding:5px 0px 15px 22px;font-size: 12px;">
      To be filled out by agent:
    </caption>
    <tr>
      <td class="field-name">Property Address:</td>
      <td style="width:43%;">
        <span style="{% if not listing.address %}
            width:70%;table-layout:fixed;word-wrap:break-word;display:inline-table;
          {% else %}
            width:70%;table-layout:fixed;word-wrap: break-word;white-space: initial;
          {% endif %}">{{ listing.address }}</span>
      </td>
      <td class="field-name left-space">Date:</td>
      <td style="width:35%;">{% now "F j, Y" %}</td>
    </tr>
    </tbody>
</table>
<table class="green-border no-border" style="width: 100%;border-top: 0px;">
   <tbody>
    <tr>
    <td class="field-name top-space">Agent:</td>
      <td class="top-space" style="width:62%;">{{ listing.listing_agent|default_if_none:"" }}</td>
      <td class="field-name left-space top-space">Monthly rent:</td>
      <td class="top-space" style="width:32%;">$ {{ listing.price|default_if_none:"" }}</td>
    </tr>
</tbody>
</table>
<table class="green-border" style="width: 100%;border-top: 0px;padding:0px 0px 20px 22px;">
   <tbody>
    <tr>
    <td class="field-name" style="padding-top:5px;">Move in date:</td>
      <td style="width:59%;padding-top:5px;">{{ lease.move_in_date|default_if_none:"" }}</td>
      <td class="field-name left-space" style="padding-top:5px;">Length of Lease:</td>
      <td style="width:32%;padding-top:5px;">{{ lease.length_of_lease|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
<br/>
<table>
   <tbody>
    <caption colspan="3" style="padding:0px 20px 15px 23px">Personal Information:</caption>
    <tr>
      <td class="field-name">Name:</td>
      <td style="width:66%;">{{ rental_app.name|default_if_none:"" }}</td>
      <td class="field-name left-space">Date of Birth:</td>
      <td style="width:47%;">
        <span> {{ rental_app.date_of_birth|default_if_none:"" }}</span>
      </td>
    </tr>
     </tbody>
</table>
<table>
    <tbody>
    <tr>
      <td class="field-name top-space">SSN#:</td>
      <td class="top-space" style="width:59%;">{{ rental_app.ssn|default_if_none:"" }}</td>
      <td class="field-name left-space top-space">Phone:</td>
      <td class="top-space" style="width:77%;">{{ rental_app.phone|default_if_none:"" }}</td>
    </tr>
    </tr>
     </tbody>
    <table>
    <tbody>
    <tr>
      <td class="field-name top-space">Email:</td>
      <td class="top-space" style="width:62%;">{{ rental_app.email|default_if_none:"" }}</td>
      <td class="field-name left-space top-space">Number of Pets:</td>
      <td class="top-space" style="width:35%;">{{ rental_app.n_of_pets|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
<br/><br/>
<table>
   <tbody>
    <caption style="padding:0px 20px 15px 23px">Residence History:</caption>
    <tr>
      <td class="field-name">Current Address:</td>
      <td style="width:52%;">
        <span style="{% if not rental_app.current_address %}
            width:57%;table-layout:fixed;word-wrap:break-word;display:inline-table;
          {% else %}
            width:57%;table-layout:fixed;word-wrap: break-word;white-space: initial;
          {% endif %}">{{ rental_app.current_address|default_if_none:"" }}</span>
      </td>
      <td class="field-name left-space">Zip:</td>
      <td style="width:45%;">{{ rental_app.zipcode|default_if_none:"" }}</td>
    </tr>
</tbody>
</table>
<table>
    <tbody>
    <tr>
      <td class="field-name top-space">Currently Monthly Payment:</td>
      <td class="top-space" style="width:54%;" >{{ rental_app.current_monthly_rent|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
 <table>
    <tbody>
    <tr>
      <td class="field-name top-space">Property Owner Name:</td>
      <td class="top-space long-text" 
        style="{% if rental_app.landlord_name|length > 39 %}
            width:80%;
          {% else %}
            width:60%;
          {% endif %}">{{ rental_app.landlord_name|default_if_none:"" }}</td>
    {% if rental_app.landlord_name|length > 39 or rental_app.landlord_contact|length > 48 %}
      </tr>
      <tr>
      <td class="field-name top-space">Property Owner Contact:</td>
    {% else %}
      <td class="field-name top-space left-space" style="padding-left: 22px;">Property Owner Contact:</td>
    {% endif %}
      <td class="top-space long-text" 
        style="{% if rental_app.landlord_name|length > 39 or rental_app.landlord_contact|length > 48 %}
          width:80%;
          {% else %}
          width:21%;
        {% endif %}">{{ rental_app.landlord_contact|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
<br/><br/>
<table>
   <tbody>
    <caption style="padding:0px 20px 15px 23px">Employment Information:</caption>
    <tr>
      <td class="field-name">Employer:</td>
      <td class="long-text" style="width:50%;">{{ rental_app.current_company|default_if_none:"" }}</td>
      <td class="field-name left-space">Job title:</td>
      <td class="long-text" style="width:30%;">{{ rental_app.job_title|default_if_none:"" }}</td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
      <td class="field-name top-space">How long have you worked there:</td>
      <td class="top-space long-text"
        style="{% if rental_app.time_at_current_job|length > 31 %}
            width:76%;
          {% else %}
            width:46%;
          {% endif %}">{{ rental_app.time_at_current_job|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
<table>
    <tbody>
    <tr>
      <td class="field-name top-space">Annual Income:</td>
      <td class="top-space" style="width:74.5%;">$ {{ rental_app.annual_income|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
<br/><br/>
<br/>
<table>
  <tbody>
    <tr>
      <td class="field-name">Signature:</td>
      <td style="width:83%;">{{ lease_member.legal_name|default_if_none:"" }}</td>
    </tr>
  </tbody>
</table>
<table>
   <tbody>
    <tr>
      <td class="field-name top-space">Date:</td>
      <td class="top-space" style="width:90.7%;">{% now "F j, Y" %}</td>
    </tr>
  </tbody>
</table>
