{% load bootstrap4 %}
<div class="modal fade" id="paymentModal"
     tabindex="-1" role="dialog" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentLabel">Move in cost payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'payments' pk=lease.id %}" method="post" id="payment-form">
          {% csrf_token %}
          <div class="form-group row">
              <label for="amount" class="col-sm-3 col-form-label">Amount to pay</label>
              <div class="col-sm-6">
                <span class="usd">
                  <input type="text" id="amount" name="amount" class="form-control" placeholder="Amount">
                </span>
              </div>
            </div>
          <div class="form-group row">
            <label for="card-element" class="col-sm-3 col-form-label">Credit or debit card</label>
            <div class="col-sm-6">
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
          <button class="btn btn-primary">Submit Payment</button>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>
<script>

</script>