/* Main Content */
.main-content-row {min-height: calc(100vh - 7.5rem);}

.ln-25 {line-height: 25px;}
.mx-w-250{max-width: 250px;}
.box-wd {width: 100%;height: 190px;}
.main-scroll{
    height: calc(100vh - 7.5rem);
    overflow-y: auto;
}

/* Nav bars */
.main-navbar .navbar {
    height: 2.75rem;
}

div.circle-avatar{
    padding-top: 100%;
    border-radius: 50%;

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dropdown-toggle.no-caret::after {
    display:none;
}
.filters-bar {
    padding: 5px;
}
.rooms-container {
    padding: 3px;
    display: flex;
    flex-direction: row;
}
.room-div {
    width: 100%;
    height: 100%;
    padding: 6px;
    color: #000000bd;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.room-div.selected {
    background-color: #679df6;
}

/* Cards */
.card.card-listing {
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.card span.badge.badge-pill {
    font-size: 100%;
}
.card-listing .overlay {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.card-listing a {
    position:absolute;
    z-index: 2;
}

.listing-info .wrap-info{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}
.card-post__category.left-badge {
    right: initial;
    left: .9375rem;
}

img.d-block.w-100 {
    height: 350px;
}

ul.ul-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
ul.ul-2 > li {
    text-transform: capitalize;
}

.map-panel {
    overflow: hidden;
    width: 50%;
    padding-right: 0;
    padding-left: 0;
}
