.rental-list-item {
    text-align: left;
    border: 1px solid gray;
    width: 700px;
    padding: 10px;
    border-radius: 14px;
    margin: 10px;
}

.user-list-item {
    display: inline-block;
    text-align: left;
    border: 1px solid pink;
    width: 400px;
    padding: 10px;
    border-radius: 14px;
    margin: 10px;
}
