@media (max-width: 1300px) {
    div.mw-wrap {
        width: 100%;
        min-width: initial;
    }
    div.mw-header {
        display: inline-block;
    }
    #geopoint-map-elem {
        width: 100%;
    }
    div.mw-wrap div.mw-adress-input-wrap {
        float: left;
        width: 100%;
    }
}

@media (max-width:764px) {

    img.d-block.w-100 {
        height: 200px;
    }

    .left-main-column {
        min-width: 320px;
        min-height: 320px;
    }

    /* Filters */
    .filter-container .dropdown .dropdown-menu{
        position: fixed !important;
        top: initial !important;
        will-change: unset !important;
        transform: none !important;
        width: 100vw;
    }

    /* Mapbox */
    .mapbox-component {
        min-width: 320px;
        min-height: 320px;
    }

    /* User cards */
    .usercards-container{
        margin: .625rem 0;
    }
}

@media (max-width:639px) {
    .main-scroll{
        height: auto;
        overflow-y: initial;
    }
}
